
        /* Responsive */
        @media(max-width: 768px) {
            .swiper {
                padding-bottom: 70px;
            }

            .next,
            .prev {
                display: none;
            }

            .cta-button {
                text-align: center;
                padding-right: 0;
            }
        }